image: Visual Studio 2017

branches:
  only:
    - master

skip_tags: true

platform:
  - x64

cache:
  - node_modules
  - app\node_modules
  - '%USERPROFILE%\.electron'

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node 10 x64
  - npm install

build_script:
  - npm run package-win

test: off

artifacts:
  - path: 'release'
    name: 'release'

deploy:
  - provider: GitHub
    auth_token:
      secure: tUBVzMxbYnfHaSnnZtUvsBeYW841YyYAqdB4vQvngbKh2ddES4VzZ1X5Dc3vaprs
    artifact: 'release'
    draft: false
    prerelease: false
    force_update: true
    on:
      branch: master